.DS_Store
venv
virtualenv
.env
node_modules
*.pyc
.vscode
__pycache__
secret_key.py
staticfiles_dirs.py
static
dist/
resources
webpack-stats.json
webpack.common.js
webpack.dev.js
webpack.prod.js
package.json
.babelrc
