{% load render_bundle from webpack_loader %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>To-Do list</title>
    
    {% render_bundle 'app' 'css' %}
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
        </ul>
        {% if user.email %}
        <span class="navbar-text mr-sm-2">
          Welcome, {{ user.email }}
        </span>
        <a class="btn btn-sm btn-primary" id="id_logout" href="#">Logout</a>
        {% else %}
        <form class="form-inline my-2 my-lg-0" action="{% url 'send_login_email' %}" method="POST">
          {% csrf_token %}
          <input class="form-control mr-sm-2" name="email" type="text" placeholder="Enter email to log in " aria-label="Enter email to log in">
          <button class="btn btn-outline-primary btn-sm my-2 my-sm-0" type="submit">Login</button>
        </form>
        {% endif %}
      </div>
    </nav>

    <main role="main" class="container mt-6">
        {% if messages %}
        <div class="row">
          <div class="col">
            {% for message in messages %}
              {% if message.level_tag == 'success' %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
              {% else %}
                <div class="alert alert-warning" role="alert">{{ message }}</div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        {% endif %}
        {% block content %}
        {% endblock%}
    </main><!-- /.container -->
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    {% render_bundle 'vendor' 'js' %}
    {% render_bundle 'app' 'js' %}
  </body>
</html>
