{% extends '_base.html' %}

{% block content %}
    <h1 class="display-4 mb-4">Start a new To-Do List</h1>
    <div class="row mb-5">
        <div class="col-md-12">
            <form method="POST" action="/lists/new">
                {% csrf_token %}
                <input class="form-control {% if error %} is-invalid {% endif %}" type="text" id="id_new_item" name="item_text" placeholder="Enter a to-do item"/>
                {% if error %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}