{% extends '_base.html' %}

{% block content %}
{% load widget_tweaks %}
<h1 class="display-4 mb-4">Start a new To-Do List</h1>
<div class="row mb-5">
    <div class="col-md-12">
        <form method="POST" action="{% url 'new_list' %}">
            {% csrf_token %}
            {{ form.text|add_error_class:"is-invalid" }}
            {% if form.errors %}
            <div class="invalid-feedback">
                {{ form.text.errors }}
            </div>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}