[Unit]
Description=Gunicorn server for FOLDERNAME

[Service]
Restart=on-failure  
User=ubuntu  
WorkingDirectory=/home/ubuntu/sites/FOLDERNAME/source  
ExecStart=/home/ubuntu/sites/FOLDERNAME/virtualenv/bin/gunicorn --bind unix:/tmp/FOLDERNAME.socket superlists.wsgi:application  

[Install]
WantedBy=multi-user.target